{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <title>Main page</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit" class="btn btn-success">Перевести</button>
</form>
<script>
    $(document).ready(
        $('form').on('submit', (event) => {
            event.preventDefault();
            const id = $('#id_users option:selected').val()
            const inn = $('input[name="inn"]').val()
            const ammount = $('input[name="ammount"]').val()
            $.ajax({
                type: 'POST',
                url: `/api/users/${id}/transfer_money/`,
                data: {inn: inn, ammount: ammount},
                success: () => {
                    alert('Деньги успешно переведены')
                }
            })
                .fail((response) => {
                    alert(response.responseJSON.error)
                })
        })
    )
</script>
</body>
</html>